---
import { SignedIn, SignedOut } from "@clerk/astro/components";
import { UserButton } from "@clerk/astro/react";
import "../layouts/TopLayout.astro";
import TopLayout from "../layouts/TopLayout.astro";
---

<TopLayout title="top">
  <SignedIn>
    <p>ログイン中</p>
    <UserButton client:load />
  </SignedIn>

  <SignedOut>
    <p>未ログイン</p>
    <a href="/sign-in">ログイン</a>
  </SignedOut>
</TopLayout>
